$lc-button-color: color('lc-blue');

.lc-button {
  color: color('white');
  background-color: $lc-button-color;
  text-decoration: none;
  padding: 1rem;
  border-radius: 6px;
  font-family: cursive;
  font-size: 2em;

  &:hover {
    background: darken($lc-button-color, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($lc-button-color, 25%);
  }
}
